* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #282828;
}

h6 {
    color: lightgray;
}

a {
     text-decoration: none;
}

a:hover {
    filter: brightness(0.7);
}

#featured-game-image {
    width: 60vw;
    height: auto;
}

.featured-game {
    margin-top: 10px;
    border-radius: 5px;
    background-color: darkslategray;
}

.featured-game h4, .featured-game h6 {
    color: white;
}

.featured-info {
    background-color:darkgray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
}

.featured-game-written {
    height: 100%;
    display: grid;
}

.featured-game-written, .featured-game-stats {
    width: 100%;
    align-self: flex-end;
}

#genres-list, #developer-list, #publisher-list, #tag-list {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 5px;
}

.platform, .genre, .developer, .publisher, .tag {
    background-color: rgb(151, 151, 151);
    padding: 2px;
    border-radius: 5px;
}

.ratings-title {
    height: 10%;
}

.ratings {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#featured-info {
    display: flex;
    flex-direction: column;
}

#featured-platforms {
    height: 100%
}

#platforms-list {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 5px;
}

#featured-age-ratings {
    height: 100%
}

#featured-age-ratings, #developers-container, #publishers-container, #tags-container {
    margin-bottom: 1rem;
}

.friend-activity {
    border-radius: 5px;
    background-color: darkslategray;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.game-img-wrapper {
    position: relative;
}

.game-img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}


/* TODO STYLE BUTTON */
.game-img-wrapper button {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: red;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.card {
    margin: 0 0.5em;
}

.card-img-top, .game-img-wrapper {
    width: 100%;
    height: 100%;
}

#game-details, #game-status {
    background-color: darkslategray;
}

#game-review {
    background-color: darkslategray;
}

#game-details h6, #game-review h5, #game-status h5{
    color: white;
}

.form-check {
    color: white;
}

#star-rating {
    display: flex;
    flex-direction: row-reverse;
}

#star-rating input {
    display: none;
}

#star-rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

#star-rating input:checked ~ label {
    color: gold;
}

#star-rating label:hover,
#star-rating label:hover ~ label {
    color: gold;
}

.user-information {
    background-color: darkslategray;
}

#username-header h4 {
    color: white;
}

#game-stats h6, #ratings h6 {
  color: black;
}

.carousel-inner {
    display: flex;
    padding: 1em;
}
.carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/2);
}

.modal-backdrop.show {
    opacity: 0.8;
}

.review-username {
    color: blue;
}

.friends-list {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-request, .friend {
    background-color: lightgray;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.friend-requests-list-title, .friends-list-title {
    color: white;
}

@media screen and (min-width:576px) {
    .carousel-item {
        flex: 0 0 calc(100%/2);
    }
}

@media screen and (min-width:1300px) {
    .carousel-item {
        flex: 0 0 calc(100%/4);
    }
}

.no-auth {
    width: 100%;
}

.card-title {
    font-size: 20px;
}

.filled-card {
    display: flex;
    justify-content: center;
    height: 75px;
    overflow: scroll;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.footer-text {
    color: white;
}

.featured-label {
    text-align:start;
}