<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="./js/registerSW.js" defer></script>

  <link rel="icon" href="/images/splitscreen-logo.png">
  <meta name="theme-color" content="#111111">
  <link rel="apple-touch-icon" href="/images/icon-192x192.png">
  <link rel="manifest" href="/manifest.webmanifest">
</head>
<body>
  <p>If you can see this, your frontend is working properly.</p>


  <p>Check your API <a href="/api" target="_blank">here</a>.</p>
</body>
</html>